opencv-python
numpy
picamera2
RPi.GPIO
adafruit-circuitpython-ssd1306
adafruit-circuitpython-ccs811
adafruit-circuitpython-bmp280
adafruit-circuitpython-bme280
adafruit-blinka
smbus2
fastapi
uvicorn
pandas